<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <!-- We can now add additional tags as needed by the individual templates -->
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-12">
            <h4 class="card-title">We're tired. You're tired. Let's talk.</h4>
            <p class="card-text" id="about-paragraph">
                Welcome to Tirred, a discussion forum for sleep-related topics. Feel free to check out the
                  <a href="/topics">topics page</a>
                and read what's posted, or
                  <a href="/users/sign_up">create an account</a>
                to join the discussion.
            </p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>
